.newTask {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  align-items: center;
}
.items {
  display: grid;
  gap: 20px;
  margin-bottom: 40px;
  .item {
    display: grid;
    grid-template-columns: 40px 1fr 2fr;
    align-items: center;
    gap: 40px;
    .checked {
      text-decoration: line-through;
    }
    border: 1px solid rgb(207, 204, 204);
    border-radius: 6px;
    padding: 6px 0;
    max-width: 800px;
  }
  .buttons{
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
